@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Bree Serif', sans-serif;
}

.campo {
    background-color: rgb(194, 194, 194);
    padding: 1.3vw;
    border-radius: 17px;
    width: 230px;
    border: 2px solid rgb(95, 95, 95);
}

.titulo {
    font-size: 25px;
    border: 2px solid rgb(95, 95, 95);
    padding: 3px;
    padding-left: 6px;
    border-radius: 7px;
    background-color: rgb(243, 238, 238);
}
